.file {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;

  + label {
    max-width: 250px;
    font-size: 20px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    color: #d3394c;
    display: inline-block;
    border: 3px solid #d3394c;
    overflow: hidden;
    padding: 10px;
    transition: all 0.4s ease;

    &:hover {
      color: #722040;
      border-color: #722040;
    }
  }
}
