@import "input";

@font-face {
  font-family: Roboto;
  src: url("../font/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Roboto;
}

.canvas {
  width: 100%;
  height: 300px;
  background: #000;
}

.audio {
  width: 100%;
}

.info {
  margin: 10px 0;
  text-align: center;
}

.center {
  text-align: center;
}
